
<form class="form-inline" #calculationForm="ngForm" (ngSubmit)="submitData(calculationForm.value)" >
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Calculation: </label>
  <input name="calculation" ngModel type="text" id="calculation" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="1+1">
  <button class="btn btn-primary my-1">Submit</button>
</form>
<div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Calculation</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calc of dataList[0]?.reverse()">
        <td>{{ calc.calculation }}</td>
        <td>{{ calc.result  }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize()"
      [(page)]="page"
      [pageSize]="pageSize"
    >
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>